.Rproj.user
.Rhistory
.RData
.Ruserdata

*.code-workspace
*.Rproj

/.quarto/
/_book/
/bkp/

settings.json

README.html

# wordcounts
wc.txt
/.luarc.json


# ignore unfinished chapters
chapters/analysis.qmd
chapters/cs01.qmd
chapters/discussion.qmd
chapters/summary.qmd
